/* Css code for all website! */

#clock-container {
    display: flex;
}


#clock {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-left: 1600px;
    margin-top: -55px;
    position: relative;
    font-family: monospace;
    font-weight: bold;
}





#ButtonMore {
    height: 100px;
    width: 610px;
    margin-left: 570px;
    margin-top: 200px;
    font-size: 60px;


    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;



    font-style: italic;
    font-weight: bold;

}

#Cooky {
    width: 600px;
    margin-left: 540px;
    margin-top: 210px;
}



.hello {
    width: 2410px;
    height: 101px;
    background-color: rgb(172, 83, 255);
    margin-top: -40px;
    margin-left: -15px;
    position: absolute;
    
}


.name {
    color: rgb(255, 255, 255);
    font-size: 41px;
    font-weight: bold;
    position: relative;
    font-style: italic;
    margin-left: 30px;
    margin-top: -1px;
    
    
    
}

.books {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-left: 320px;
    margin-top: -90px;
    position: relative;
    text-decoration: none;
  
}

.founders {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-left: 500px;
    margin-top: -60px;
    position: relative;
    text-decoration: none;
    
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.firstball {
    width: 700px;
    height: 400px;
    margin-left: 1601px;
    display: inline;
}

.secondball {
    width: 700px;
    height: 400px;
    margin-left: 101px;
    display: inline;
}


.about {
    width: 600px;
    font-size: 60px;
    position: relative;
    
    margin-left: 1370px;
    margin-top: 250px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(78, 78, 78));
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    box-shadow: 30px 30px 100px black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    font-style: italic;
    font-weight: bold;



    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;

}





.background {
    width: 2395px;
    height: 1100px;
    background-color: rgb(88, 88, 88);
    margin-top: 400px;
    margin-left: -20px;
    
}


.Dorian {
    position: relative;
    margin-top: -1100px;
    margin-left: 1100px;
    padding-left: -100px;
    height: 1200px;
    width: auto;
}

.BriefDorian {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 670px;
    position: relative;
    font-size: 55px;
    margin-top: -900px;
    margin-left: 250px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    

}

.BriefHarari {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 600px;
    display: block;
    font-size: 55px;
    margin-top: 500px;
    margin-left: 1450px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;

}



.Harari1 {
    height: 1000px;
    margin-top: -900px;
    margin-left: 120px;

}





.list {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-left: 1100px;
    margin-top: -108px;
    position: relative;
    text-decoration: none;
    padding-right: 60px;
    
}


.BackBooks {
    background-color: rgb(72, 17, 124);
}



.firstball {
    margin-top: 100px;
}


.secondball {
    margin-top: 150px;
    margin-right: 900px;
    height: 350px;
    width: auto;
}


.allballs {
    height: 700px;
    width: auto;
    display: block;
}


.LinkToDorian {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 600px;
   
    font-size: 55px;
    margin-top: -550px;
    margin-left: 300px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;
}


.linkcolor {
    color: black;
}


.background2 {
    background-color: rgb(116, 36, 190);
    margin-top: -100px;
}



.LinkToHarari {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 600px;
   
    font-size: 55px;
    margin-left: 300px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;
}


.TheDeveloper {

    height: 700px;
    margin-left: 220px;
    margin-top: 200px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    box-shadow: 30px 30px 100px;

    position: absolute;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

}





.TheDevelopers {
    width: 600px;
    font-size: 60px;
    position: relative;
    
    margin-left: 1370px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(78, 78, 78));
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    box-shadow: 30px 30px 100px black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    font-style: italic;
    font-weight: bold;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;

}




.MyVideo {

    width: 600px;
    font-size: 60px;
    position: relative;
    
    margin-left: 250px;
    margin-top: 370px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(85, 0, 0));
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    box-shadow: 30px 30px 100px black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    font-style: italic;
    font-weight: bold;


    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}





.QRCode {

    position: absolute;
    width: 600px;
    margin-left: 1350px;
    margin-top: -400px;
}




.background3 {
    width: 2395px;
    height: 950px;
    background-color: rgb(88, 88, 88);
    margin-top: 160px;
    margin-left: -20px;
    
}


.background4 {
    width: 2395px;
    height: 1300px;
    background-color: rgb(24, 24, 24);
    margin-top: 73px;
    margin-left: -20px;
    
}


.Bend {
    position: relative;
    margin-top: -1000px;
    margin-left: 1250px;
    padding-left: -100px;
    height: 1200px;
    width: auto;
}

.ItClown {
    position: relative;
    margin-top: -1300px;
    margin-left: 1100px;
    padding-left: -100px;
    height: 1200px;
    width: auto;
}

.BriefBand {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 600px;
   
    font-size: 55px;
    margin-top: -1063px;
    margin-left: 300px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;


    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.BriefClown {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 600px;
   
    font-size: 55px;
    margin-top: -1063px;
    margin-left: 300px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;


    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


.hello1 {
    width: 2410px;
    height: 100px;
    background-color: rgb(232, 0, 108);
    margin-top: -150px;
    margin-left: -15px;

    
}


.DevBackground {
    width: 2395px;
    height: 2100px;
    background-color: rgb(52, 52, 52);
    margin-top: -5px;
    margin-left: -20px;
}


.name1 {
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: bold;
    position: relative;
    font-style: italic;
    margin-left: 830px;
    margin-top: 600px;
}




.HTMLScreen {
    
    height: 800px;
    margin-top: -1800px;
    margin-left: 120px;
    


    
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    box-shadow: 30px 30px 100px;

    position: absolute;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

}


.HowDidWedoThis {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 600px;
   
    font-size: 55px;
    margin-top: -1700px;
    margin-left: 1450px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.HowDidWedoThis1 {

    color: rgb(0, 0, 0);
    background-color: rgb(246, 251, 255);
    width: 600px;
   
    font-size: 55px;
    margin-top: 370px;
    margin-left: 1450px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 30px 30px 100px;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;

}


.BlenderScreen {
    height: 700px;
    margin-top: 260px;
    margin-left: 120px;
    

    position: absolute;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

}



.DevsBack {
    background-color: rgb(52, 52, 52);
}


.HowDidWedoThis1:hover {
    transform: translateY(-40px);
}


.BlenderScreen:hover {
    transform: translateY(-40px);
}


.HowDidWedoThis:hover {
    transform: translateY(-40px);
}

.HTMLScreen:hover {
    transform: translateY(-40px);
}


.about:hover {
    transform: translateY(-20px);
}

.TheDeveloper:hover {
    transform: translateY(-50px);
    
}



.TheDevelopers:hover {
    transform: translateY(-20px);
}



.about:hover {
    transform: translateY(-20px);
}


.MyVideo:hover {
    transform: translateY(-20px);
}

.MyVideo1:hover {
    transform: translateY(-20px);
}


.BriefBand:hover {
    transform: translateY(-20px);
}

.BriefClown:hover {
    transform: translateY(-20px);
}



.BriefHarari:hover {
    transform: translateY(-30px);

}


.BriefDorian:hover {
    transform: translateX(50px);

}



@media (max-width: 2035px) {
    
    
    .about {
        width: 500px;
        font-size: 50px;
        margin-left: 1000px;
        margin-top: 210px;

    }
    
    
    
    .TheDevelopers {
        width: 500px;
        font-size: 50px;
        margin-left: 1000px;
        margin-top: 60px;
    

    }

    .MyVideo {
        width: 500px;
        font-size: 50px;
        margin-left: 205px;
        margin-top: 320px;
    }



    .TheDeveloper {
        height: 550px;
        margin-left: 200px;
        margin-top: 180px;
    }
    
    .QRCode {
        position: absolute;
        width: 440px;
        margin-left: 1070px;
        margin-top: -400px;
    }
    
    
    .hello1 {
        width: 2100px;
        height: 90px;
        margin-top: -140px;
        margin-left: -15px;
    }
    



    .HTMLScreen {
        height: 550px;
        margin-top: -1920px;
        margin-left: 100px;
    }
    
    .HowDidWedoThis {
        color: rgb(0, 0, 0);
        background-color: rgb(246, 251, 255);
        width: 550px;
        font-size: 50px;
        margin-top: -1880px;
        margin-left: 1150px;
    }


    .BlenderScreen {
        height: 580px;
        margin-top: 260px;
        margin-left: 100px;

    }



    .HowDidWedoThis1 {
        width: 550px;
        font-size: 50px;
        margin-top: 370px;
        margin-left: 1150px;

    }

    .name1 {
        font-size: 60px;
        margin-left: 685px;
        margin-top: 520px;
    }




    .hello {
        width: 1930px;
    
    }
    
    .BriefDorian {
        width: 550px;
        font-size: 50px;
        margin-top: -860px;
        margin-left: 150px;
    
    }
    
    .Dorian {
        position: relative;
        margin-top: -1030px;
        margin-left: 675px;
        height: 1150px;
        
    }


    .firstball {
        width: 700px;
        height: 400px;
        margin-left: 1250px;
        display: inline;
    }


    

    .BriefHarari {
        width: 530px;
        font-size: 50px;
        margin-top: 420px;
        margin-left: 1250px;
    
    }

    .Harari1 {
        height: 850px;
        margin-top: -960px;
        margin-left: 70px;
    
    }


    .background {
        width: 1950px;
        height: 900px;
        
    }

    .BriefBand {
        width: 550px;
        font-size: 50px;
        margin-top: -963px;
        margin-left: 220px;
    
    }

    .BriefClown {
        width: 550px;
        font-size: 50px;
        margin-top: -970px;
        margin-left: 120px;
    
    }

    #BriefClown1 {
        position: relative;
        margin-top: -1060px;
        margin-left: 770px;
        height: 1100px;
        width: auto;
    }

    .Bend {
        position: relative;
        margin-top: -950px;
        margin-left: 1100px;
        height: 1100px;
        width: auto;
    }


    .background3 {
        width: 1900px;
        height: 900px;
        background-color: rgb(88, 88, 88);
        margin-top: 160px;
        margin-left: -20px;
        
    }

    .background4 {
        width: 1900px;
        height: 1100px;
        margin-top: 140px;
        margin-left: -20px;
        
    }
    
    
}




@media (max-width: 1550px) {
    #clock {
        font-size: 46px;
        margin-left: 1200px;
    }
    
    
    
    #ButtonMore {
        height: 100px;
        width: 500px;
        margin-left: 480px;
        margin-top: 200px;
        font-size: 55px;
    
    
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    
    
    
        font-style: italic;
        font-weight: bold;
    
    }
    
    #Cooky {
        width: 510px;
        margin-left: 480px;
        margin-top: 210px;
    }
    
    
    
    
    
    .about {
        width: 400px;
        font-size: 40px;
        margin-left: 900px;
        margin-top: 190px;

    }
    
    
    
    .TheDevelopers {
        width: 400px;
        font-size: 40px;
        margin-left: 900px;
        margin-top: 60px;
    

    }

    .MyVideo {
        width: 420px;
        font-size: 50px;
        margin-left: 170px;
        margin-top: 250px;
    }



    .TheDeveloper {
        height: 520px;
        margin-left: 140px;
        margin-top: 130px;
    }
    
    .QRCode {
        position: absolute;
        width: 360px;
        margin-left: 900px;
        margin-top: -370px;
    }
    
    
    .hello1 {
        width: 2100px;
        height: 90px;
        margin-top: -135px;
        margin-left: -15px;
    }
    



    .HTMLScreen {
        height: 470px;
        margin-top: -2000px;
        margin-left: 80px;
    }
    
    .HowDidWedoThis {
        color: rgb(0, 0, 0);
        background-color: rgb(246, 251, 255);
        width: 470px;
        font-size: 40px;
        margin-top: -1950px;
        margin-left: 900px;
    }


    .BlenderScreen {
        height: 470px;
        margin-top: 100px;
        margin-left: 60px;

    }



    .HowDidWedoThis1 {
        width: 470px;
        font-size: 40px;
        margin-top: 170px;
        margin-left: 900px;

    }

    .name1 {
        font-size: 60px;
        margin-left: 570px;
        margin-top: 400px;
    }


    
    .Dorian {
        position: relative;
        margin-top: -840px;
        margin-left: 480px;
        height: 900px;
        
    }


    .BriefDorian {
        width: 500px;
        font-size: 40px;
        margin-top: -600px;
        margin-left: 150px;
    
    }


    .firstball {
        width: 700px;
        height: 400px;
        margin-left: 900px;
        display: inline;
    }

    .secondball {
        margin-top: 100px;
        margin-right: 1050px;
        height: 220px;
        width: auto;
    }

    .BriefHarari {
        width: 450px;
        font-size: 40px;
        margin-top: 470px;
        margin-left: 900px;
    
    }

    .Harari1 {
        height: 750px;
        margin-top: -950px;
        margin-left: 50px;
    
    }


    .background {
        width: 1550px;
        height: 750px;
        margin-top: 300px;
        
    }

    .BriefBand {
        width: 450px;
        font-size: 40px;
        margin-top: -722px;
        margin-left: 150px;
    
    }


    .BriefClown {
        width: 450px;
        font-size: 40px;
        margin-top: -830px;
        margin-left: 70px;
    
    }

    #BriefClown1 {
        position: relative;
        margin-top: -890px;
        margin-left: 600px;
        height: 900px;
        width: auto;
    }

    .Bend {
        position: relative;
        margin-top: -740px;
        margin-left: 900px;
        height: 900px;
        width: auto;
    }


    .background3 {
        width: 1550px;
        height: 650px;
        background-color: rgb(88, 88, 88);
        margin-top: 160px;
        margin-left: -20px;
        
    }

    .background4 {
        width: 1550px;
        height: 900px;
        margin-top: 70px;
        margin-left: -20px;
        
    }

    .LinkToDorian {
        
        width: 420px;
        font-size: 45px;
        margin-top: -550px;
        margin-left: 250px;
    }


    .LinkToHarari {
        width: 430px;
        font-size: 45px;
        margin-left: 250px;
    }
    
    
}








@media (max-width: 620px) {
    #clock {
     display: none;
    }
    
    #ButtonMore {
        height: 100px;
        width: 480px;
        margin-left: 30px;
        margin-top: 200px;
        font-size: 50px;
    
    
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    
    
    
        font-style: italic;
        font-weight: bold;
    
    }
    
    #Cooky {
        width: 490px;
        margin-left: 30px;
        margin-top: 210px;
    }
    
    
    
    .founders {
        font-size: 40px;
        margin-left: 385px;
        margin-top: -45px;
        
    }


    .books {
        font-size: 40px;
        margin-left: 250px;
        margin-top: -70px;
    }
    
    .hello {
        width: 621px;
        height: 85px;   
    }
    
    .about {
        width: 200px;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 95px;

    }
    
    .name {
        font-size: 30px;
        margin-left: 30px;
        
    }
    
    .TheDevelopers {
        width: 400px;
        font-size: 40px;
        margin-left: 900px;
        margin-top: 60px;
    

    }

    .MyVideo {
        width: 390px;
        font-size: 32px;
        margin-left: 70px;
        margin-top: 200px;
        position: relative;
    }



    .TheDeveloper {
        height: 300px;
        margin-left: 60px;
        margin-top: 130px;
    }
    
    .QRCode {
        position: absolute;
        width: 300px;
        margin-left: 140px;
        margin-top: -510px;
        position: absolute;
    }
    
    
    .hello1 {
        width: 621px;
        height: 30px;
        margin-top: -300px;
        margin-left: -15px;
        
    }
    
    .HTMLScreen {
        height: 400px;
        margin-top: -2000px;
        margin-left: 40px;
    }
    
    .HowDidWedoThis {
        color: rgb(0, 0, 0);
        background-color: rgb(246, 251, 255);
        width: 470px;
        font-size: 40px;
        margin-top: -1450px;
        margin-left: 50px;
    }


    .BlenderScreen {
        height: 470px;
        margin-top: 60px;
        margin-left: 60px;

    }



    .HowDidWedoThis1 {
        width: 470px;
        font-size: 40px;
        margin-top: 600px;
        margin-left: 50px;

    }

    .name1 {
        font-size: 30px;
        margin-left: 100px;
        margin-top: 400px;
        visibility: hidden;
    }


    
    .Dorian {
        position: relative;
        margin-top: -800px;
        margin-left: -10px;
        height: 700px;
        
    }


    .BriefDorian {
        width: 240px;
        font-size: 30px;
        margin-top: -590px;
        margin-left: 40px;
    
    }



    .BriefHarari {
        width: 300px;
        font-size: 30px;
        margin-top: 150px;
        margin-left: 300px;
        position: relative;
    }

    .Harari1 {
        height: 400px;
        margin-top: -1400px;
        margin-left: -20px;
        margin-bottom: 200px;
    }


    .background {
        width: 621px;
        height: 600px;
        margin-top: 300px;
        
    }

    .BriefBand {
        width: 270px;
        font-size: 30px;
        margin-top: -600px;
        margin-left: 5px;
        position: relative;
    }

    .Bend {
        position: relative;
        margin-top: -740px;
        margin-left: 240px;
        height: 700px;
        width: auto;
    }


    .background3 {
        width: 621px;
        height: 600px;
        background-color: rgb(88, 88, 88);
        margin-top: 100px;
        margin-left: -20px;
        
    }

    .background4 {
        width: 621px;
        height: 600px;
        margin-top: -10px;
        margin-left: -20px;
        
    }

    .LinkToDorian {
        
        width: 420px;
        font-size: 35px;
        margin-top: -550px;
        margin-left: 90px;
    }


    .LinkToHarari {
        width: 420px;
        font-size: 35px;
        margin-left: 90px;
    }
    

    .allballs {
        visibility: hidden;
    }

   
    
}




/* Hello everybody! Goodbye, yes! yes. I'm sad :( :( */




